<%- include("./partials/header.ejs") %>

      <img class="banner-pic" src="/bannerImage.png" width="100%" height="220px" alt="">
      <center><img class="profile-pic" src="/profile-pic.jpeg" alt=""></center>
    </div>
  </section>
    <div>
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-12">

          </div>
          <div class="col-lg-4 col-md-12">
            <center><h2 class="username">44thGallery<img width="30" height="30" src="/verified.png" alt=""></h2></center>
          </div>
          <div class="col-lg-4 col-md-12">
            <div class="container width-red2">
              <div class="row">
                <div class="col tab2 button-left">
                  <span class="big-p-table"><svg class="" fill="#8A939B" style="height:20px;width:20px" viewBox="0 0 20 16"><path d="M17.569.5H2.43C1.39.5.548 1.344.548 2.375l-.01 11.25A1.89 1.89 0 002.43 15.5H17.57a1.89 1.89 0 001.892-1.875V2.375A1.89 1.89 0 0017.57.5zm-4.73 13.125H2.43v-3.75h10.408v3.75zm0-4.688H2.43v-3.75h10.408v3.75zm4.73 4.688h-3.785V5.187h3.785v8.438z"></path></svg></span>
                </div>
                <div class="col tab2">
                  <span class="big-p-table"><svg class="" fill="#8A939B" style="height:20px;width:20px" viewBox="0 0 22 16"><path d="M8.11.5c-.28.002-2.574.067-4.996 1.873 0 0-2.584 4.665-2.584 10.408 0 0 1.507 2.593 5.473 2.719 0 0 .664-.792 1.202-1.477-2.278-.685-3.14-2.108-3.14-2.108s.18.126.502.307c.018 0 .035.019.07.036.055.035.108.054.162.09.448.252.896.45 1.31.611.736.307 1.615.576 2.639.774 1.346.252 2.925.342 4.646.019a12.954 12.954 0 002.603-.774 10.118 10.118 0 002.062-1.063s-.896 1.458-3.247 2.125c.538.666 1.185 1.439 1.185 1.439 3.965-.126 5.473-2.72 5.473-2.7 0-5.746-2.584-10.409-2.584-10.409C16.32.446 13.861.5 13.861.5l-.251.288c3.05.918 4.468 2.27 4.468 2.27a14.856 14.856 0 00-5.4-1.711 15.048 15.048 0 00-3.626.036c-.107 0-.197.019-.306.035-.628.072-2.153.288-4.073 1.135-.663.288-1.059.505-1.059.505S5.088 1.635 8.317.717L8.137.5h-.028zm-.457 6.645c1.022 0 1.849.882 1.83 1.981 0 1.1-.808 1.982-1.83 1.982-1.005 0-1.83-.883-1.83-1.982s.806-1.981 1.83-1.981zm6.55 0c1.004 0 1.83.882 1.83 1.981 0 1.1-.809 1.982-1.83 1.982-1.006 0-1.83-.883-1.83-1.982s.806-1.981 1.83-1.981z"></path></svg></span>
                </div>
                <div class="col tab2">
                  <span class="big-p-table"><svg class="" fill="#8A939B" style="height:20px;width:20px" viewBox="0 0 18 16"><path d="M.09 13.791c1.992.14 3.728-.344 5.327-1.571-.816-.098-1.527-.311-2.127-.786-.584-.466-1.032-1.047-1.272-1.841h1.48c.008-.033.016-.066.024-.107-.816-.237-1.512-.663-2.032-1.342-.52-.67-.775-1.448-.8-2.3.52.148 1.016.295 1.52.434.016-.033.04-.065.056-.098-.72-.606-1.24-1.334-1.431-2.275a3.92 3.92 0 01.391-2.7c2 2.389 4.511 3.715 7.598 3.936-.096-.778-.104-1.498.16-2.202.912-2.463 3.983-3.249 5.894-1.481.216.196.4.229.632.147.632-.229 1.255-.474 1.903-.72-.248.81-.784 1.408-1.415 1.989.615-.164 1.231-.336 1.839-.5.024.025.048.041.072.066-.464.491-.912 1.007-1.415 1.449-.272.237-.36.458-.376.818-.144 4.01-1.752 7.25-5.175 9.289-3.487 2.07-7.077 1.947-10.612-.025-.064-.04-.12-.09-.24-.18z"></path></svg></span>
                </div>
                <div class="col tab2 button-right">
                  <span class="big-p-table"><img style="width: 15px;" src="/dot.png" alt=""></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <div class="container width-red">
        <div class="row">
          <div class="col  tab button-left">
            <span class="big-p-table">10.0K</span><br>
            <span id="small-table">items</span>
          </div>
          <div class="col tab">
            <span class="big-p-table">3.4K</span><br>
            <span  id="small-table" >owners</span>
          </div>
          <div class="col tab">
            <span class="big-p-table"><img class="eth-svg" src="/eth.svg" alt="">&nbsp;&nbsp; ---</span><br>
            <span id="small-table">floor price</span>
          </div>
          <div class="col tab button-right">
            <span class="big-p-table"><img class="eth-svg" src="/eth.svg" alt="">&nbsp;&nbsp;850.4K</span><br>
            <span id="small-table">volume traded</span>
          </div>
        </div>
      </div>
    </div>
    <div class="div-about-info container-fluid">
      <p class="about-info">44th gallery owns a vast majority of some of the rarest NFT’s and has a fixed set of about a 1000 of the most rarest NFT’s in the blockchain. Some of the works have been featured in places like the New York Times, Christie’s of London, Art Basel Miami and the PBS NewsHour.</p>
    </div>
    <section class="collections">
      <div class="container">
        <div class="row">
          <% nfts.forEach(function(nft){ %>
            <div class="col-md-3 fitting">
              <a style="text-decoration: none; color: inherit;" href="../collection/44thGallery/<%=nft._id %>">
              <div class="card card-hover" style="width: 100%;">
                <img src="<%=nft.image %>" class="card-img-top" alt="...">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <span style="color: rgb(112, 122, 131);font-weight: 500;font-size: 12px;" class="card-text"><%= nft.name %>&nbsp;&nbsp;<img width="12" height="12" src="/verified.png" alt=""></span>
                    </div>
                    <div class="col">
                      <div class="row">
                        <div class="col-4"></div>
                        <!-- <div class="col-2"></div> -->
                        <div class="col-8">
                          <span class="card-text" style="width: 100%;align-items: flex-end; font-size: 11px; ">Last <img class="eth-svg-card" src="/eth.svg" alt="">&nbsp;<%= nft.price %></span>
                        </div>
                        <!-- <div class="col-4"></div> -->
                      </div>
                      
                    </div>
                  </div>
                  
                  <span style="color: rgb(53, 56, 64); font-size: 12px; letter-spacing: 0.1px; font-weight: 600; text-align: left;">44thImage #<%= nft.nftNumber %></span>
                </div>
                <div class="card-footer card-last">
                      <span class="likes-count text-muted"><img width="15" height="15" src="/like.png" alt="">&nbsp;<%= nft.likes %></span>
                </div>
              </div></a>
            </div>
          <% }) %>
          
          
          <!-- <div class="col-md-3 fitting">
            <a style="text-decoration: none; color: inherit;" href="">
            <div class="card card-hover" style="width: 100%;">
              <img src="/1.png" class="card-img-top" alt="...">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <span style="color: rgb(112, 122, 131);font-weight: 500;font-size: 12px;" class="card-text">CryptoPunks&nbsp;&nbsp;<img width="12" height="12" src="/verified.png" alt=""></span>
                  </div>
                  <div class="col">
                    <div class="row">
                      <div class="col-3"></div>
                      <div class="col-3"></div>
                      <div class="col-6">
                        <span class="card-text" style="width: 100%;align-items: flex-end; font-size: 11px; ">Last <img class="eth-svg-card" src="/eth.svg" alt="">&nbsp;3</span>
                      </div>
                    </div>
                    
                  </div>
                </div>
                
                <span style="color: rgb(53, 56, 64); font-size: 12px; letter-spacing: 0.1px; font-weight: 600; text-align: left;">CryptoPunk #446</span>
              </div>
              <div class="card-footer card-last">
                    <span class="likes-count text-muted">23</span>
              </div>
            </div></a>
          </div>
          <div class="col-md-3 fitting">
            <a style="text-decoration: none; color: inherit;" href="">
            <div class="card card-hover" style="width: 100%;">
              <img src="/1.png" class="card-img-top" alt="...">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <span style="color: rgb(112, 122, 131);font-weight: 500;font-size: 12px;" class="card-text">CryptoPunks&nbsp;&nbsp;<img width="12" height="12" src="/verified.png" alt=""></span>
                  </div>
                  <div class="col">
                    <div class="row">
                      <div class="col-3"></div>
                      <div class="col-3"></div>
                      <div class="col-6">
                        <span class="card-text" style="width: 100%;align-items: flex-end; font-size: 11px; ">Last <img class="eth-svg-card" src="/eth.svg" alt="">&nbsp;3</span>
                      </div>
                    </div>
                    
                  </div>
                </div>
                
                <span style="color: rgb(53, 56, 64); font-size: 12px; letter-spacing: 0.1px; font-weight: 600; text-align: left;">CryptoPunk #446</span>
              </div>
              <div class="card-footer card-last">
                    <span class="likes-count text-muted">23</span>
              </div>
            </div></a>
          </div>
          <div class="col-md-3 fitting">
            <a style="text-decoration: none; color: inherit;" href="">
            <div class="card card-hover" style="width: 100%;">
              <img src="/1.png" class="card-img-top" alt="...">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <span style="color: rgb(112, 122, 131);font-weight: 500;font-size: 12px;" class="card-text">CryptoPunks&nbsp;&nbsp;<img width="12" height="12" src="/verified.png" alt=""></span>
                  </div>
                  <div class="col">
                    <div class="row">
                      <div class="col-3"></div>
                      <div class="col-3"></div>
                      <div class="col-6">
                        <span class="card-text" style="width: 100%;align-items: flex-end; font-size: 11px; ">Last <img class="eth-svg-card" src="/eth.svg" alt="">&nbsp;3</span>
                      </div>
                    </div>
                    
                  </div>
                </div>
                
                <span style="color: rgb(53, 56, 64); font-size: 12px; letter-spacing: 0.1px; font-weight: 600; text-align: left;">CryptoPunk #446</span>
              </div>
              <div class="card-footer card-last">
                    <span class="likes-count text-muted">23</span>
              </div>
            </div></a>
          </div>
          <div class="col-md-3 fitting">
            <a style="text-decoration: none; color: inherit;" href="">
            <div class="card card-hover" style="width: 100%;">
              <img src="/1.png" class="card-img-top" alt="...">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <span style="color: rgb(112, 122, 131);font-weight: 500;font-size: 12px;" class="card-text">CryptoPunks&nbsp;&nbsp;<img width="12" height="12" src="/verified.png" alt=""></span>
                  </div>
                  <div class="col">
                    <div class="row">
                      <div class="col-3"></div>
                      <div class="col-3"></div>
                      <div class="col-6">
                        <span class="card-text" style="width: 100%;align-items: flex-end; font-size: 11px; ">Last <img class="eth-svg-card" src="/eth.svg" alt="">&nbsp;3</span>
                      </div>
                    </div>
                    
                  </div>
                </div>
                
                <span style="color: rgb(53, 56, 64); font-size: 12px; letter-spacing: 0.1px; font-weight: 600; text-align: left;">CryptoPunk #446</span>
              </div>
              <div class="card-footer card-last">
                    <span class="likes-count text-muted">23</span>
              </div>
            </div></a>
          </div> -->
          <!-- <div class="col fitting">
            <div class="card" style="width: 18rem;">
              <img src="/1.png" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
            </div>
          </div>
          <div class="col fitting">
            <div class="card" style="width: 18rem;">
              <img src="/1.png" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
            </div>
          </div>
          <div class="col fitting">
            <div class="card" style="width: 18rem;">
              <img src="/1.png" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
            </div>
          </div>
          <div class="col fitting">
            <div class="card" style="width: 18rem;">
              <img src="..." class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
            </div>
          </div> -->
        </div>
      </div>
    </section>
    
    <%- include("./partials/footer.ejs") %>
