<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>44thGallery #<%=nft.nftNumber%><%= title %>></title>
    <link rel="stylesheet" href="/styles/bootstrap.css">
    <link rel="stylesheet" href="/styles/icofont/icofont.css">
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;800;900&display=swap" rel="stylesheet">
    <!-- <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet"> -->
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"> -->
    <link rel="icon" href="/opensea.png">
  </head>
  <body>
  <section>
    <div style="position: relative; left: 0; top: 0;">
      <nav id="nav-select" class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="../collection/cryptopunk"><img width="40" height="40" src="/opensea.png" alt=""> OpenSea</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <!-- <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Features</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Pricing</a>
              </li> -->
            </ul>
            <!-- <span class="navbar-text">
              Navbar text with an inline element
            </span>230px -->
            <ul class="navbar-nav navbar-right">
              <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search items, collections, and accounts" aria-label="Search">
                <!-- <button class="btn btn-outline-success" type="submit">Search</button> -->
              </form>
              <li class="nav-item">
                <a class="nav-link" href="#">Explore</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Stats</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Resources</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Create</a>
              </li>
              <% if(!currentUser) { %>
              <center><li class="nav-item">
                <a class="nav-link" href="../logConnect">
                  <button class="connect-btn">Connect Wallet</button>
                </a>
              </li></center>
           <% } else { %>
            <li class="nav-item">
              <a class="nav-link" href="../logout"><%= currentUser.username.substring(0, 10) %>...</a>
            </li>  
            <li class="nav-item">
                <a class="nav-link" href="../logout">
                  <button class="connect-btn">Log Out</button>
                </a>
              </li>
             
              
            <% } %>
            </ul>
          </div>
        </div>
      </nav>
      <section class="collections2">
        <div class="container">
          <div class="row">
            <div class="col-4"><h2 class="username2">44thGallery&nbsp;<img width="20" height="20" src="/verified.png" alt=""></h2></div>
            <!-- <div class="col-1"></div> -->
            <div class="col-1"></div>
            <div class="col-7">
              <div class="container width-red3">
                <div class="row">
                  <div class="col tab2 button-left">
                    <span class="big-p-table"><svg class="" fill="#8A939B" style="height:15px;width:15px" viewBox="0 0 20 16"><path d="M17.569.5H2.43C1.39.5.548 1.344.548 2.375l-.01 11.25A1.89 1.89 0 002.43 15.5H17.57a1.89 1.89 0 001.892-1.875V2.375A1.89 1.89 0 0017.57.5zm-4.73 13.125H2.43v-3.75h10.408v3.75zm0-4.688H2.43v-3.75h10.408v3.75zm4.73 4.688h-3.785V5.187h3.785v8.438z"></path></svg></span>
                  </div>
                  <div class="col tab2">
                    <span class="big-p-table"><svg class="" fill="#8A939B" style="height:15px;width:15px" viewBox="0 0 22 16"><path d="M8.11.5c-.28.002-2.574.067-4.996 1.873 0 0-2.584 4.665-2.584 10.408 0 0 1.507 2.593 5.473 2.719 0 0 .664-.792 1.202-1.477-2.278-.685-3.14-2.108-3.14-2.108s.18.126.502.307c.018 0 .035.019.07.036.055.035.108.054.162.09.448.252.896.45 1.31.611.736.307 1.615.576 2.639.774 1.346.252 2.925.342 4.646.019a12.954 12.954 0 002.603-.774 10.118 10.118 0 002.062-1.063s-.896 1.458-3.247 2.125c.538.666 1.185 1.439 1.185 1.439 3.965-.126 5.473-2.72 5.473-2.7 0-5.746-2.584-10.409-2.584-10.409C16.32.446 13.861.5 13.861.5l-.251.288c3.05.918 4.468 2.27 4.468 2.27a14.856 14.856 0 00-5.4-1.711 15.048 15.048 0 00-3.626.036c-.107 0-.197.019-.306.035-.628.072-2.153.288-4.073 1.135-.663.288-1.059.505-1.059.505S5.088 1.635 8.317.717L8.137.5h-.028zm-.457 6.645c1.022 0 1.849.882 1.83 1.981 0 1.1-.808 1.982-1.83 1.982-1.005 0-1.83-.883-1.83-1.982s.806-1.981 1.83-1.981zm6.55 0c1.004 0 1.83.882 1.83 1.981 0 1.1-.809 1.982-1.83 1.982-1.006 0-1.83-.883-1.83-1.982s.806-1.981 1.83-1.981z"></path></svg></span>
                  </div>
                  <div class="col tab2">
                    <span class="big-p-table"><svg class="" fill="#8A939B" style="height:15px;width:15px" viewBox="0 0 18 16"><path d="M.09 13.791c1.992.14 3.728-.344 5.327-1.571-.816-.098-1.527-.311-2.127-.786-.584-.466-1.032-1.047-1.272-1.841h1.48c.008-.033.016-.066.024-.107-.816-.237-1.512-.663-2.032-1.342-.52-.67-.775-1.448-.8-2.3.52.148 1.016.295 1.52.434.016-.033.04-.065.056-.098-.72-.606-1.24-1.334-1.431-2.275a3.92 3.92 0 01.391-2.7c2 2.389 4.511 3.715 7.598 3.936-.096-.778-.104-1.498.16-2.202.912-2.463 3.983-3.249 5.894-1.481.216.196.4.229.632.147.632-.229 1.255-.474 1.903-.72-.248.81-.784 1.408-1.415 1.989.615-.164 1.231-.336 1.839-.5.024.025.048.041.072.066-.464.491-.912 1.007-1.415 1.449-.272.237-.36.458-.376.818-.144 4.01-1.752 7.25-5.175 9.289-3.487 2.07-7.077 1.947-10.612-.025-.064-.04-.12-.09-.24-.18z"></path></svg></span>
                  </div>
                  <div class="col tab2 button-right">
                    <span class="big-p-table"><img style="width: 10px;" src="/dot.png" alt=""></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
              <div class="col-12">
                  <p class="bigPShow">44thGalery #<%= nft.nftNumber %></p>
              </div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-md-5 fitting">
              <div class="card card-hover" style="width: 100%;">
                <div class="card-header">
                    <div class="row">
                        <div class="col-2"><img class="eth-svg-card" src="/eth.svg" alt=""></div>
                        <div class="col-2"></div>
                        <div class="col-2"></div>
                        <div class="col-2"></div>
                        <div class="col-1"></div>
                        <!-- <div class="col-1"></div> -->
                        <div class="col-3 likesNumberShow"><img width="15" height="15" src="/like.png" alt=""> <%= nft.likes %></div>
                    </div>
                </div>
                <img src="<%= nft.image%>" class="card-img-top" alt="...">
              </div>
            </div>
            <div class="col-md-7">
              <div class="row pushDownShow">
                  <div class="col-5">
                      <p class="smallPShow">Owned by <span><a style="color: rgb(32, 129, 226); text-decoration: none;" href="#"><%= nft.ownedBy%></a></span></p>
                  </div>
                  <div class="col-2">
                      
                  </div>
                  <div class="col-5">
                    <p class="smallPShow"><img width="19" height="19" src="/like.png" alt="">&nbsp;<span><%= nft.likes%> favourite</span></p>
                  </div>
              </div>
              <div class="row pushDownShow2">
                  <center><div class="col">
                      <button class="connect-btn">Buy Now</button>
                      <button class="connect-btn2">Make Offer</button>
                  </div></center>
              </div>
              <div class="row pushDown20 ">
                <div class="col-12">
                  <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                          Price History
                        </button>
                      </h2>
                      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                          <svg class="recharts-surface" width="100%" height="130" viewBox="0 0 668 130" version="1.1"><defs><clipPath id="recharts31-clip"><rect x="53" y="5" height="95" width="600"></rect></clipPath></defs><g class="recharts-cartesian-grid"><g class="recharts-cartesian-grid-horizontal"><line stroke="#E5E8EB" fill="none" x="53" y="5" width="600" height="95" x1="53" y1="57.5" x2="653" y2="57.5"></line><line stroke="#E5E8EB" fill="none" x="53" y="5" width="600" height="95" x1="53" y1="5" x2="653" y2="5"></line><line stroke="#E5E8EB" fill="none" x="53" y="5" width="600" height="95" x1="53" y1="100" x2="653" y2="100"></line></g></g><g class="recharts-layer recharts-cartesian-axis recharts-xAxis xAxis"><line class="recharts-cartesian-axis-line" stroke="#E5E8EB" width="600" height="30" x="53" y="100" fill="none" x1="53" y1="100" x2="653" y2="100"></line><g class="recharts-cartesian-axis-ticks"><g class="recharts-layer recharts-cartesian-axis-tick"><line class="recharts-cartesian-axis-tick-line" stroke="#E5E8EB" width="600" height="30" x="53" y="100" fill="none" x1="53" y1="110" x2="53" y2="100"></line><text stroke="none" width="600" height="30" x="53" y="116" fill="#353840" fill-opacity="0.6" class="recharts-text recharts-cartesian-axis-tick-value" text-anchor="middle"><tspan x="53" dy="0.71em">2/18</tspan></text></g><g class="recharts-layer recharts-cartesian-axis-tick"><line class="recharts-cartesian-axis-tick-line" stroke="#E5E8EB" width="600" height="30" x="53" y="100" fill="none" x1="128" y1="110" x2="128" y2="100"></line><text stroke="none" width="600" height="30" x="128" y="116" fill="#353840" fill-opacity="0.6" class="recharts-text recharts-cartesian-axis-tick-value" text-anchor="middle"><tspan x="128" dy="0.71em">2/21</tspan></text></g><g class="recharts-layer recharts-cartesian-axis-tick"><line class="recharts-cartesian-axis-tick-line" stroke="#E5E8EB" width="600" height="30" x="53" y="100" fill="none" x1="203" y1="110" x2="203" y2="100"></line><text stroke="none" width="600" height="30" x="203" y="116" fill="#353840" fill-opacity="0.6" class="recharts-text recharts-cartesian-axis-tick-value" text-anchor="middle"><tspan x="203" dy="0.71em">2/24</tspan></text></g><g class="recharts-layer recharts-cartesian-axis-tick"><line class="recharts-cartesian-axis-tick-line" stroke="#E5E8EB" width="600" height="30" x="53" y="100" fill="none" x1="278" y1="110" x2="278" y2="100"></line><text stroke="none" width="600" height="30" x="278" y="116" fill="#353840" fill-opacity="0.6" class="recharts-text recharts-cartesian-axis-tick-value" text-anchor="middle"><tspan x="278" dy="0.71em">2/27</tspan></text></g><g class="recharts-layer recharts-cartesian-axis-tick"><line class="recharts-cartesian-axis-tick-line" stroke="#E5E8EB" width="600" height="30" x="53" y="100" fill="none" x1="353" y1="110" x2="353" y2="100"></line><text stroke="none" width="600" height="30" x="353" y="116" fill="#353840" fill-opacity="0.6" class="recharts-text recharts-cartesian-axis-tick-value" text-anchor="middle"><tspan x="353" dy="0.71em">3/2</tspan></text></g><g class="recharts-layer recharts-cartesian-axis-tick"><line class="recharts-cartesian-axis-tick-line" stroke="#E5E8EB" width="600" height="30" x="53" y="100" fill="none" x1="428" y1="110" x2="428" y2="100"></line><text stroke="none" width="600" height="30" x="428" y="116" fill="#353840" fill-opacity="0.6" class="recharts-text recharts-cartesian-axis-tick-value" text-anchor="middle"><tspan x="428" dy="0.71em">3/5</tspan></text></g><g class="recharts-layer recharts-cartesian-axis-tick"><line class="recharts-cartesian-axis-tick-line" stroke="#E5E8EB" width="600" height="30" x="53" y="100" fill="none" x1="503" y1="110" x2="503" y2="100"></line><text stroke="none" width="600" height="30" x="503" y="116" fill="#353840" fill-opacity="0.6" class="recharts-text recharts-cartesian-axis-tick-value" text-anchor="middle"><tspan x="503" dy="0.71em">3/8</tspan></text></g><g class="recharts-layer recharts-cartesian-axis-tick"><line class="recharts-cartesian-axis-tick-line" stroke="#E5E8EB" width="600" height="30" x="53" y="100" fill="none" x1="578" y1="110" x2="578" y2="100"></line><text stroke="none" width="600" height="30" x="578" y="116" fill="#353840" fill-opacity="0.6" class="recharts-text recharts-cartesian-axis-tick-value" text-anchor="middle"><tspan x="578" dy="0.71em">3/11</tspan></text></g><g class="recharts-layer recharts-cartesian-axis-tick"><line class="recharts-cartesian-axis-tick-line" stroke="#E5E8EB" width="600" height="30" x="53" y="100" fill="none" x1="653" y1="110" x2="653" y2="100"></line><text stroke="none" width="600" height="30" x="653" y="116" fill="#353840" fill-opacity="0.6" class="recharts-text recharts-cartesian-axis-tick-value" text-anchor="middle"><tspan x="653" dy="0.71em">3/14</tspan></text></g></g></g><g class="recharts-layer recharts-cartesian-axis recharts-yAxis yAxis"><line class="recharts-cartesian-axis-line" stroke="#E5E8EB" width="53" height="95" x="0" y="5" fill="none" x1="53" y1="5" x2="53" y2="100"></line><g class="recharts-cartesian-axis-ticks"><g class="recharts-layer recharts-cartesian-axis-tick"><line class="recharts-cartesian-axis-tick-line" stroke="#E5E8EB" width="53" height="95" x="0" y="5" fill="none" x1="43" y1="57.5" x2="53" y2="57.5"></line><text stroke="none" width="53" height="95" x="25" y="57.5" fill="#353840" fill-opacity="0.6" class="recharts-text recharts-cartesian-axis-tick-value" text-anchor="end"><tspan x="25" dy="0.355em">0</tspan></text></g></g></g><g class="recharts-layer recharts-cartesian-axis recharts-yAxis yAxis"><g class="recharts-cartesian-axis-ticks"></g></g><g class="recharts-layer recharts-bar"><g class="recharts-layer recharts-bar-rectangles"><g class="recharts-layer recharts-bar-rectangle"></g><g class="recharts-layer recharts-bar-rectangle"></g></g></g><g class="recharts-layer recharts-line"><path stroke="#2081E2" stroke-width="3" fill="none" width="600" height="95" class="recharts-curve recharts-line-curve" d="M53,57.5L653,57.5"></path></g></svg>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="row">
              <div class="col-md-5">
                <div class="accordion" id="accordionPanelsStayOpenExample">
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                        Description
                      </button>
                    </h2>
                    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                      <div style="color: rgb(138, 147, 155);" class="accordion-body">
                        Created by <span style="color: rgb(32, 129, 226);">c5432w</span> 
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                        Properties
                      </button>
                    </h2>
                    <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
                      <div class="accordion-body">
                <center><div class="row">
                          <div class="col-4 border-rounding" style="width: 140px; height: 100px;">
                            <span style="color: rgb(21, 178, 229);font-size: 11px;font-weight: 500;">ACCESSORY</span>
                            <span class="p-show-tag">2 Attributes</span><br>
                            <span class="span-show-tag">19% have this trait</span>
                          </div>
                          <div class="col-4 border-rounding" style="width: 140px; height: 100px;">
                            <span style="color: rgb(21, 178, 229);font-size: 11px;font-weight: 500;">ACCESSORY</span>
                            <span class="p-show-tag">2 Attributes</span><br>
                            <span class="span-show-tag">19% have this trait</span>
                          </div>
                          <div class="col-4 border-rounding" style="width: 140px; height: 100px;">
                            <span style="color: rgb(21, 178, 229);font-size: 11px;font-weight: 500;">ACCESSORY</span>
                            <span class="p-show-tag">2 Attributes</span><br>
                            <span class="span-show-tag">19% have this trait</span>
                          </div>
                          <div class="col-4 border-rounding" style="width: 140px; height: 100px;">
                            <span style="color: rgb(21, 178, 229);font-size: 11px;font-weight: 500;">ACCESSORY</span>
                            <span class="p-show-tag">2 Attributes</span><br>
                            <span class="span-show-tag">19% have this trait</span>
                          </div>  
                        </div></center>
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                        About 44thGallery
                      </button>
                    </h2>
                    <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
                      <div class="accordion-body">
                        <div class="row ">
                          <div class="col-4" ><img class="img-show-prop" src="/profile-pic.jpeg" alt=""></div>
                          <div class="col-8">
                            <p style="font-size: 14px;">44th gallery owns a vast majority of some of the rarest NFT’s and has a fixed set of about a 1000 of the most rarest NFT’s in the blockchain. Some of the works have been featured in places like the New York Times, Christie’s of London, Art Basel Miami and the PBS NewsHour.</p>
                          </div>
                        </div>
                        <div class="row" style="width: 40%;">
                            <div class="col tab2 button-left">
                              <span class="big-p-table"><svg class="" fill="#8A939B" style="height:15px;width:15px" viewBox="0 0 20 16"><path d="M17.569.5H2.43C1.39.5.548 1.344.548 2.375l-.01 11.25A1.89 1.89 0 002.43 15.5H17.57a1.89 1.89 0 001.892-1.875V2.375A1.89 1.89 0 0017.57.5zm-4.73 13.125H2.43v-3.75h10.408v3.75zm0-4.688H2.43v-3.75h10.408v3.75zm4.73 4.688h-3.785V5.187h3.785v8.438z"></path></svg></span>
                            </div>
                            <div class="col tab2">
                              <span class="big-p-table"><svg class="" fill="#8A939B" style="height:15px;width:15px" viewBox="0 0 22 16"><path d="M8.11.5c-.28.002-2.574.067-4.996 1.873 0 0-2.584 4.665-2.584 10.408 0 0 1.507 2.593 5.473 2.719 0 0 .664-.792 1.202-1.477-2.278-.685-3.14-2.108-3.14-2.108s.18.126.502.307c.018 0 .035.019.07.036.055.035.108.054.162.09.448.252.896.45 1.31.611.736.307 1.615.576 2.639.774 1.346.252 2.925.342 4.646.019a12.954 12.954 0 002.603-.774 10.118 10.118 0 002.062-1.063s-.896 1.458-3.247 2.125c.538.666 1.185 1.439 1.185 1.439 3.965-.126 5.473-2.72 5.473-2.7 0-5.746-2.584-10.409-2.584-10.409C16.32.446 13.861.5 13.861.5l-.251.288c3.05.918 4.468 2.27 4.468 2.27a14.856 14.856 0 00-5.4-1.711 15.048 15.048 0 00-3.626.036c-.107 0-.197.019-.306.035-.628.072-2.153.288-4.073 1.135-.663.288-1.059.505-1.059.505S5.088 1.635 8.317.717L8.137.5h-.028zm-.457 6.645c1.022 0 1.849.882 1.83 1.981 0 1.1-.808 1.982-1.83 1.982-1.005 0-1.83-.883-1.83-1.982s.806-1.981 1.83-1.981zm6.55 0c1.004 0 1.83.882 1.83 1.981 0 1.1-.809 1.982-1.83 1.982-1.006 0-1.83-.883-1.83-1.982s.806-1.981 1.83-1.981z"></path></svg></span>
                            </div>
                            <div class="col tab2">
                              <span class="big-p-table"><svg class="" fill="#8A939B" style="height:15px;width:15px" viewBox="0 0 18 16"><path d="M.09 13.791c1.992.14 3.728-.344 5.327-1.571-.816-.098-1.527-.311-2.127-.786-.584-.466-1.032-1.047-1.272-1.841h1.48c.008-.033.016-.066.024-.107-.816-.237-1.512-.663-2.032-1.342-.52-.67-.775-1.448-.8-2.3.52.148 1.016.295 1.52.434.016-.033.04-.065.056-.098-.72-.606-1.24-1.334-1.431-2.275a3.92 3.92 0 01.391-2.7c2 2.389 4.511 3.715 7.598 3.936-.096-.778-.104-1.498.16-2.202.912-2.463 3.983-3.249 5.894-1.481.216.196.4.229.632.147.632-.229 1.255-.474 1.903-.72-.248.81-.784 1.408-1.415 1.989.615-.164 1.231-.336 1.839-.5.024.025.048.041.072.066-.464.491-.912 1.007-1.415 1.449-.272.237-.36.458-.376.818-.144 4.01-1.752 7.25-5.175 9.289-3.487 2.07-7.077 1.947-10.612-.025-.064-.04-.12-.09-.24-.18z"></path></svg></span>
                            </div>
                            <div class="col tab2 button-right">
                              <span class="big-p-table"><img style="width: 10px;" src="/dot.png" alt=""></span>
                            </div>
                          <!-- <div class="col-3"></div> -->
                          <!-- <div class="col-md-4"></div> -->
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-7">
                <div style="margin-bottom: 10px;" class="accordion" id="accordionExample">
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Listings
                      </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                      <div class="accordion-body empty-stuff">
                        <center><img class="" src="/empty-list.svg" alt="">
                        <p>No Listing Yet</p></center>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="accordion" id="accordionExample">
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="headingThree">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Offers
                      </button>
                    </h2>
                    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                        <center><img class="" src="/not-yet.svg" alt="">
                          <p>No Offers Yet</p></center>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          </div>
          <div style="margin-top:10px;" class="row">
            <div class="accordion" id="accordionPanelsStayOpenExample">
              <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                  <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                    Item Activity
                  </button>
                </h2>
                <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                  <div class="accordion-body">
                    <table style="width: 100%; min-width: 100px;"class="table">
                      <thead>
                        <tr>
                          <th scope="col">Event</th>
                          <th scope="col">From</th>
                          <th scope="col">To</th>
                          <th scope="col">Date</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">sale</th>
                          <td>HEEEE</td>
                          <td>Null Address</td>
                          <td>A Year Ago</td>
                        </tr>
                        <tr>
                          <th scope="row">sale</th>
                          <td>PYMON THURD</td>
                          <td>HEEEE</td>
                          <td>A Year Ago</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div style="margin-top: 10px; margin-bottom: 20px;" class="row">
            <div class="accordion" id="accordionExample">
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                  <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    More from collection
                  </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <div class="row">
                      <div class="col-md-3 fitting">
                        <a style="text-decoration: none; color: inherit;" href="#">
                        <div class="card card-hover" style="width: 100%;">
                          <img src="https://thumbs2.imgbox.com/5a/03/BmscAwLR_t.jpeg" class="card-img-top" alt="...">
                          <div class="card-body">
                            <div class="row">
                              <div class="col">
                                <span style="color: rgb(112, 122, 131);font-weight: 500;font-size: 12px;" class="card-text">44thGallery&nbsp;&nbsp;<img width="12" height="12" src="/verified.png" alt=""></span>
                              </div>
                              <div class="col">
                                <div class="row">
                                  <div class="col-4"></div>
                                  <!-- <div class="col-2"></div> -->
                                  <div class="col-8">
                                    <span class="card-text" style="width: 100%;align-items: flex-end; font-size: 11px; ">Last <img class="eth-svg-card" src="/eth.svg" alt="">&nbsp;0.05</span>
                                  </div>
                                  <!-- <div class="col-4"></div> -->
                                </div>
                                
                              </div>
                            </div>
                            
                            <span style="color: rgb(53, 56, 64); font-size: 12px; letter-spacing: 0.1px; font-weight: 600; text-align: left;">44thImage #4524</span>
                          </div>
                          <div class="card-footer card-last">
                                <span class="likes-count text-muted"><img width="15" height="15" src="/like.png" alt="">&nbsp;240</span>
                          </div>
                        </div></a>
                      </div>
                      <div class="col-md-3 fitting">
                        <a style="text-decoration: none; color: inherit;" href="#">
                        <div class="card card-hover" style="width: 100%;">
                          <img src="https://thumbs2.imgbox.com/7f/75/pL5OnK5R_t.jpeg" class="card-img-top" alt="...">
                          <div class="card-body">
                            <div class="row">
                              <div class="col">
                                <span style="color: rgb(112, 122, 131);font-weight: 500;font-size: 12px;" class="card-text">44thGallery&nbsp;&nbsp;<img width="12" height="12" src="/verified.png" alt=""></span>
                              </div>
                              <div class="col">
                                <div class="row">
                                  <div class="col-4"></div>
                                  <!-- <div class="col-2"></div> -->
                                  <div class="col-8">
                                    <span class="card-text" style="width: 100%;align-items: flex-end; font-size: 11px; ">Last <img class="eth-svg-card" src="/eth.svg" alt="">&nbsp;1.25</span>
                                  </div>
                                  <!-- <div class="col-4"></div> -->
                                </div>
                                
                              </div>
                            </div>
                            
                            <span style="color: rgb(53, 56, 64); font-size: 12px; letter-spacing: 0.1px; font-weight: 600; text-align: left;">44thImage #324</span>
                          </div>
                          <div class="card-footer card-last">
                                <span class="likes-count text-muted"><img width="15" height="15" src="/like.png" alt="">&nbsp;123</span>
                          </div>
                        </div></a>
                      </div>
                      <div class="col-md-3 fitting">
                        <a style="text-decoration: none; color: inherit;" href="#">
                        <div class="card card-hover" style="width: 100%;">
                          <img src="https://thumbs2.imgbox.com/3a/19/K2WFTiIp_t.jpeg" class="card-img-top" alt="...">
                          <div class="card-body">
                            <div class="row">
                              <div class="col">
                                <span style="color: rgb(112, 122, 131);font-weight: 500;font-size: 12px;" class="card-text">44thGallery&nbsp;&nbsp;<img width="12" height="12" src="/verified.png" alt=""></span>
                              </div>
                              <div class="col">
                                <div class="row">
                                  <div class="col-4"></div>
                                  <!-- <div class="col-2"></div> -->
                                  <div class="col-8">
                                    <span class="card-text" style="width: 100%;align-items: flex-end; font-size: 11px; ">Last <img class="eth-svg-card" src="/eth.svg" alt="">&nbsp;0.75</span>
                                  </div>
                                  <!-- <div class="col-4"></div> -->
                                </div>
                                
                              </div>
                            </div>
                            
                            <span style="color: rgb(53, 56, 64); font-size: 12px; letter-spacing: 0.1px; font-weight: 600; text-align: left;">44thImage #124</span>
                          </div>
                          <div class="card-footer card-last">
                                <span class="likes-count text-muted"><img width="15" height="15" src="/like.png" alt="">&nbsp;93</span>
                          </div>
                        </div></a>
                      </div>
                      <div class="col-md-3 fitting">
                        <a style="text-decoration: none; color: inherit;" href="#">
                        <div class="card card-hover" style="width: 100%;">
                          <img src="https://thumbs2.imgbox.com/80/a6/actY9PWD_t.jpeg" class="card-img-top" alt="...">
                          <div class="card-body">
                            <div class="row">
                              <div class="col">
                                <span style="color: rgb(112, 122, 131);font-weight: 500;font-size: 12px;" class="card-text">44thGallery&nbsp;&nbsp;<img width="12" height="12" src="/verified.png" alt=""></span>
                              </div>
                              <div class="col">
                                <div class="row">
                                  <div class="col-4"></div>
                                  <!-- <div class="col-2"></div> -->
                                  <div class="col-8">
                                    <span class="card-text" style="width: 100%;align-items: flex-end; font-size: 11px; ">Last <img class="eth-svg-card" src="/eth.svg" alt="">&nbsp;0.25</span>
                                  </div>
                                  <!-- <div class="col-4"></div> -->
                                </div>
                                
                              </div>
                            </div>
                            
                            <span style="color: rgb(53, 56, 64); font-size: 12px; letter-spacing: 0.1px; font-weight: 600; text-align: left;">44thImage #454</span>
                          </div>
                          <div class="card-footer card-last">
                                <span class="likes-count text-muted"><img width="15" height="15" src="/like.png" alt="">&nbsp;70</span>
                          </div>
                        </div></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </section>
  <footer>
    <div class="footerColor">
      <div class="container reduceWidthFooter">
        <div style="margin-bottom: 65px;" class="row">
          <div class="col-md-6">
            <span class="stayInLoop">Stay in the loop</span><br>
            <span style="padding-top: 15px;" class="footerPtag">Join our mailing list to stay in the loop with our newest feature releases, NFT drops, and tips and tricks for navigating OpenSea.</span>
            <div style="margin-top:25px;" class="row">
              <div class="col-md-9">
                <input id="inputFooter" type="text" placeholder="Your Email Address">
              </div>
              <div class="col-md-3"><button class="buttonFooter">Sign Up</button></div>
            </div>
          </div>
          <div class="col-md-6">
            <span class="stayInLoop">Join the community</span>
            <div style="margin-top: 15px;" class="row">
              <div class="col-2">
                <div class="blue-back-footer">
                  <svg class="" fill="#FFFFFF" style="height:20px;width:30px" viewBox="0 0 18 16"><path d="M.09 13.791c1.992.14 3.728-.344 5.327-1.571-.816-.098-1.527-.311-2.127-.786-.584-.466-1.032-1.047-1.272-1.841h1.48c.008-.033.016-.066.024-.107-.816-.237-1.512-.663-2.032-1.342-.52-.67-.775-1.448-.8-2.3.52.148 1.016.295 1.52.434.016-.033.04-.065.056-.098-.72-.606-1.24-1.334-1.431-2.275a3.92 3.92 0 01.391-2.7c2 2.389 4.511 3.715 7.598 3.936-.096-.778-.104-1.498.16-2.202.912-2.463 3.983-3.249 5.894-1.481.216.196.4.229.632.147.632-.229 1.255-.474 1.903-.72-.248.81-.784 1.408-1.415 1.989.615-.164 1.231-.336 1.839-.5.024.025.048.041.072.066-.464.491-.912 1.007-1.415 1.449-.272.237-.36.458-.376.818-.144 4.01-1.752 7.25-5.175 9.289-3.487 2.07-7.077 1.947-10.612-.025-.064-.04-.12-.09-.24-.18z"></path></svg>
                </div>
              </div>
              <div class="col-2">
                <div class="blue-back-footer">
                  <svg class="" fill="#FFFFFF" style="height:20px;width:30px" viewBox="0 0 24 24"><path d="M15.75 2H8.25C4.79875 2 2 4.79875 2 8.25V15.75C2 19.2012 4.79875 22 8.25 22H15.75C19.2012 22 22 19.2012 22 15.75V8.25C22 4.79875 19.2012 2 15.75 2ZM20.125 15.75C20.125 18.1625 18.1625 20.125 15.75 20.125H8.25C5.8375 20.125 3.875 18.1625 3.875 15.75V8.25C3.875 5.8375 5.8375 3.875 8.25 3.875H15.75C18.1625 3.875 20.125 5.8375 20.125 8.25V15.75Z"></path><path d="M12 7C9.23875 7 7 9.23875 7 12C7 14.7613 9.23875 17 12 17C14.7613 17 17 14.7613 17 12C17 9.23875 14.7613 7 12 7ZM12 15.125C10.2775 15.125 8.875 13.7225 8.875 12C8.875 10.2763 10.2775 8.875 12 8.875C13.7225 8.875 15.125 10.2763 15.125 12C15.125 13.7225 13.7225 15.125 12 15.125Z"></path><path d="M17.375 7.29124C17.743 7.29124 18.0413 6.99295 18.0413 6.62499C18.0413 6.25703 17.743 5.95874 17.375 5.95874C17.0071 5.95874 16.7088 6.25703 16.7088 6.62499C16.7088 6.99295 17.0071 7.29124 17.375 7.29124Z"></path></svg>
                </div>
              </div>
              <div class="col-2">
                <div class="blue-back-footer">
                  <svg class="" fill="#FFFFFF" style="height:20px;width:30px" viewBox="0 0 22 16"><path d="M8.11.5c-.28.002-2.574.067-4.996 1.873 0 0-2.584 4.665-2.584 10.408 0 0 1.507 2.593 5.473 2.719 0 0 .664-.792 1.202-1.477-2.278-.685-3.14-2.108-3.14-2.108s.18.126.502.307c.018 0 .035.019.07.036.055.035.108.054.162.09.448.252.896.45 1.31.611.736.307 1.615.576 2.639.774 1.346.252 2.925.342 4.646.019a12.954 12.954 0 002.603-.774 10.118 10.118 0 002.062-1.063s-.896 1.458-3.247 2.125c.538.666 1.185 1.439 1.185 1.439 3.965-.126 5.473-2.72 5.473-2.7 0-5.746-2.584-10.409-2.584-10.409C16.32.446 13.861.5 13.861.5l-.251.288c3.05.918 4.468 2.27 4.468 2.27a14.856 14.856 0 00-5.4-1.711 15.048 15.048 0 00-3.626.036c-.107 0-.197.019-.306.035-.628.072-2.153.288-4.073 1.135-.663.288-1.059.505-1.059.505S5.088 1.635 8.317.717L8.137.5h-.028zm-.457 6.645c1.022 0 1.849.882 1.83 1.981 0 1.1-.808 1.982-1.83 1.982-1.005 0-1.83-.883-1.83-1.982s.806-1.981 1.83-1.981zm6.55 0c1.004 0 1.83.882 1.83 1.981 0 1.1-.809 1.982-1.83 1.982-1.006 0-1.83-.883-1.83-1.982s.806-1.981 1.83-1.981z"></path></svg>
                </div>
              </div>
              <div class="col-2">
                <div class="blue-back-footer">
                  <svg class="" fill="#FFFFFF" style="height:20px;width:30px" viewBox="0 0 24 24"><path d="m21.325 9.308c-.758 0-1.425.319-1.916.816-1.805-1.268-4.239-2.084-6.936-2.171l1.401-6.406 4.461 1.016c0 1.108.89 2.013 1.982 2.013 1.113 0 2.008-.929 2.008-2.038s-.889-2.038-2.007-2.038c-.779 0-1.451.477-1.786 1.129l-4.927-1.108c-.248-.067-.491.113-.557.365l-1.538 7.062c-2.676.113-5.084.928-6.895 2.197-.491-.518-1.184-.837-1.942-.837-2.812 0-3.733 3.829-1.158 5.138-.091.405-.132.837-.132 1.268 0 4.301 4.775 7.786 10.638 7.786 5.888 0 10.663-3.485 10.663-7.786 0-.431-.045-.883-.156-1.289 2.523-1.314 1.594-5.115-1.203-5.117zm-15.724 5.41c0-1.129.89-2.038 2.008-2.038 1.092 0 1.983.903 1.983 2.038 0 1.109-.89 2.013-1.983 2.013-1.113.005-2.008-.904-2.008-2.013zm10.839 4.798c-1.841 1.868-7.036 1.868-8.878 0-.203-.18-.203-.498 0-.703.177-.18.491-.18.668 0 1.406 1.463 6.07 1.488 7.537 0 .177-.18.491-.18.668 0 .207.206.207.524.005.703zm-.041-2.781c-1.092 0-1.982-.903-1.982-2.011 0-1.129.89-2.038 1.982-2.038 1.113 0 2.008.903 2.008 2.038-.005 1.103-.895 2.011-2.008 2.011z"></path></svg>
                </div>
              </div>
              <div class="col-2">
                <div class="blue-back-footer">
                  <svg class="" fill="#FFFFFF" style="height:20px;width:30px" viewBox="0 0 20 18"><path d="M9.99433 3.33325C9.99433 3.33325 4.26441 3.33326 2.82628 3.70695C2.05625 3.9221 1.4222 4.55617 1.20704 5.33752C0.833352 6.77565 0.833344 9.75391 0.833344 9.75391C0.833344 9.75391 0.833352 12.7435 1.20704 14.159C1.4222 14.9403 2.04493 15.563 2.82628 15.7782C4.27574 16.1632 9.99433 16.1632 9.99433 16.1632C9.99433 16.1632 15.7356 16.1632 17.1737 15.7895C17.9551 15.5744 18.5778 14.963 18.7816 14.1703C19.1666 12.7435 19.1666 9.76524 19.1666 9.76524C19.1666 9.76524 19.178 6.77565 18.7816 5.33752C18.5778 4.55617 17.9551 3.93344 17.1737 3.72961C15.7356 3.33327 9.99433 3.33325 9.99433 3.33325ZM8.17116 7.00225L12.9386 9.75391L8.17116 12.4942V7.00225Z"></path></svg>
                </div>
              </div>
            </div>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-4">
            <img src="/opensea-white.svg" width="15%" alt="">
            <p class="footerP-last">OpenSea</p>
            <span>The world’s first and largest digital marketplace for crypto collectibles and non-fungible tokens (NFTs). Buy, sell, and discover exclusive digital items.</span>
          </div>
          <div style="padding-top: 10px; padding-bottom: 10px;" class="col-md-2">
            <p class="white-p-tags">Marketplace</p>
            <span style="padding-top: 15px;"class="whitePlast">All Nfts</span><br>
            <span style="padding-top: 15px;"class="whitePlast">Arts</span><br>
            <span style="padding-top: 15px;"class="whitePlast">Collectibles</span><br>
            <span style="padding-top: 15px;"class="whitePlast">Domain Names</span><br>
            <span style="padding-top: 15px;"class="whitePlast">Music</span><br>
            <span style="padding-top: 15px;"class="whitePlast">Photography</span><br>
            <span style="padding-top: 15px;"class="whitePlast">Sport</span><br>
            <span style="padding-top: 15px;"class="whitePlast">Trading Cards</span><br>
            <span style="padding-top: 15px;"class="whitePlast">Utility</span><br>
            <span style="padding-top: 15px;"class="whitePlast">Virtual Worlds</span><br>
          </div>
          <div style="padding-top: 10px; padding-bottom: 10px;" class="col-md-2">
            <p class="white-p-tags">My Account</p>
            <span style="padding-top: 15px;"class="whitePlast">Profile</span><br>
            <span style="padding-top: 15px;"class="whitePlast">Favourites</span><br>
            <span style="padding-top: 15px;"class="whitePlast">Watchlist</span><br>
            <span style="padding-top: 15px;"class="whitePlast">My collections</span><br>
            <span style="padding-top: 15px;"class="whitePlast">Settings</span>
          </div>
          <div style="padding-top: 10px; padding-bottom: 10px;" class="col-md-2">
            <p class="white-p-tags">Resources</p>
            <span style="padding-top: 15px;"class="whitePlast"></span>Help Center</span><br>
            <span style="padding-top: 15px;"class="whitePlast">Platform Status</span><br>
            <span style="padding-top: 15px;"class="whitePlast">Partners</span><br>
            <span style="padding-top: 15px;"class="whitePlast">Gas-Free Marketplace</span><br>
            <span style="padding-top: 15px;"class="whitePlast">Taxes</span><br>
            <span style="padding-top: 15px;"class="whitePlast">Blog</span><br>
            <span style="padding-top: 15px;"class="whitePlast">Docs</span><br>
            <span style="padding-top: 15px;"class="whitePlast">Newsletter</span>
            
          </div>
          <div style="padding-top: 10px; padding-bottom: 10px;" class="col-md-2">
            <p class="white-p-tags">Company</p>
            <span style="padding-top: 15px;"class="whitePlast">About</span><br>
            <span style="padding-top: 15px;"class="whitePlast">Careers</span><br>
            <span style="padding-top: 15px;"class="whitePlast">Ventures</span><br>
            <span style="padding-top: 15px;"class="whitePlast">Grants</span><br>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-3">
            <span style="font-size: 12px;">© 2018 - 2022 Ozone Networks, Inc</span>
          </div>
          <div class="col-md-3"></div>
          <div class="col-md-2"></div>
          <div style="font-size: 12px;" class="col-md-2">Privacy Policy</div>
          <div style="font-size: 12px;" class="col-md-2">Terms of Service</div>
        </div>
      </div>
    </div>
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  <script>
    let navbarIcon = document.querySelector('.navbar-light .navbar-toggler-icon');
  </script>
  </body>
</html>
